<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="jane">
  <!-- Initialize gripper_center properties -->
  <xacro:arg name="gripper_center" default="false" />
  <xacro:property name="gripper_center" value="$(arg gripper_center)"/>
  <xacro:arg name="gripper_center_xyz" default="0.0 0.0 0.10" />
  <xacro:property name="gripper_center_xyz" value="$(arg gripper_center_xyz)"/>

  <xacro:include filename="$(find franka_description)/robots/gzplugin_grasp_fix.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/panda.transmission.xacro"/>

  <link name="table_top_link">
    <visual>
      <geometry>
        <mesh filename="package://ridgeback_franka_description/meshes/hams-table-top.stl" />
      </geometry>
      <material name="black" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ridgeback_franka_description/meshes/hams-table-top.stl" />
      </geometry>
    </collision>
  </link>

  <link name="table_legs_link">
    <visual>
      <geometry>
        <mesh filename="package://ridgeback_franka_description/meshes/hams-table-legs.stl" />
      </geometry>
      <material name="light_grey" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ridgeback_franka_description/meshes/hams-table-legs.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="table_top_joint" type="fixed">
    <parent link="mid_mount" />
    <child link="table_top_link" />
    <origin xyz="0 0 0.60635" rpy="0 0 0"/>
  </joint>

  <joint name="table_legs_joint" type="fixed">
    <parent link="mid_mount" />
    <child link="table_legs_link" />
    <origin xyz="0 0 0.60635" rpy="0 0 0"/>
  </joint>

  <link name="arm_mount_link">
    <visual>
      <geometry>
        <mesh filename="package://ridgeback_franka_description/meshes/hams-arm-mount.stl" />
      </geometry>
      <material name="black" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ridgeback_franka_description/meshes/hams-arm-mount.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="arm_mount_joint" type="fixed">
    <parent link="mid_mount" />
    <child link="arm_mount_link" />
    <origin xyz="-.27913 0 $(optenv RIDGEBACK_ARM_HEIGHT 0.31)" rpy="0 0 $(optenv RIDGEBACK_ARM_ANGLE 0.0)"/>
  </joint>

  <joint name="arm_mount_joint_2" type="fixed">
    <parent link="arm_mount_link" />
    <child link="franka_mount_link" />
    <origin xyz="$(optenv RIDGEBACK_FRANKA_XYZ 0.0 0.0 0.0)" rpy="$(optenv RIDGEBACK_FRANKA_RPY 0 0 0)"/>
  </joint>

  <link name="franka_mount_link" />
  
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
  <xacro:panda_arm connected_to="franka_mount_link"/>
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8" safety_distance="0.03" gripper_center="${gripper_center}" gripper_center_xyz="${gripper_center_xyz}"/>

  <xacro:include filename="$(find franka_description)/robots/panda.gazebo.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/panda.control.xacro"/>

  <xacro:panda_gazebo robot_name="panda"/>
  <xacro:panda_control arm_id="panda" load_hand="true" />

</robot>
